h1{
    color:rgb(243, 243, 244);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h2{
    color: black;
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
}
footer{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color:bisque

}

h3{
    color: rgb(10, 8, 8);
    font-family: 'Courier New', Courier, monospace;
}

body{
    background-color: antiquewhite;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;



}


/* mystyles.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
}

.resume {
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header {
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    color: whitesmoke;
    font-size: 32px;
    margin: 0;
}

p {
    color: #666;
    margin-top: 5px;
}

section {
    margin-bottom: 30px;
}

h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 10px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 5px;
}

article {
    border-bottom: 1px solid #ccc;
    padding-bottom: 15px;
    margin-bottom: 15px;
}

article:last-child {
    border-bottom: none;
    margin-bottom: 0;
}

.skills ul {
    display: flex;
    flex-wrap: wrap;
}

.skills li {
    background-color: #f2f2f2;
    color: #666;
    padding: 8px 12px;
    border-radius: 20px;
    margin-right: 10px;
    margin-bottom: 10px;
}

